@layer theme, components, base, utilities;

@import 'tailwindcss';

@import '@radix-ui/themes/styles.css' layer(components);
@import 'tailwindcss/utilities';
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border: none;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 44%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 72% 51%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--chart-1: 221.2 83.2% 53.3%;
		--chart-2: 212 95% 68%;
		--chart-3: 216 92% 60%;
		--chart-4: 210 98% 78%;
		--chart-5: 212 97% 87%;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 72% 51%;
		--destructive-foreground: 210 40% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 221.2 83.2% 53.3%;
		--chart-1: 221.2 83.2% 53.3%;
		--chart-2: 212 95% 68%;
		--chart-3: 216 92% 60%;
		--chart-4: 210 98% 78%;
		--chart-5: 212 97% 87%;
	}
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--foreground) var(--background);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
*::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: var(--background);
}

*::-webkit-scrollbar-track:hover {
	background-color: var(--muted-foreground);
}

*::-webkit-scrollbar-track:active {
	background-color: var(--muted-foreground);
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--foreground);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--muted);
}

*::-webkit-scrollbar-thumb:active {
	background-color: var(--muted);
}

.rt-reset:where(
		textarea,
		input:not(
				[type='button'],
				[type='image'],
				[type='reset'],
				[type='submit'],
				[type='checkbox'],
				[type='color'],
				[type='radio'],
				[type='range']
			)
	) {
	white-space: normal; /* Override pre-wrap */
}

.react-select__control {
	box-shadow: 0px 0px 1px var(--accent-8) !important;

	@apply rounded-3! border-gray-7! bg-surface! shadow-accent-7! focus-within:border-accent-7! hover:border-accent-7! focus:border-accent-7! border py-0! focus:outline-hidden;
}
.react-select__multi-value {
	@apply bg-accent-3! text-accent-9!;
}
.react-select__multi-value__label {
	@apply text-accent-11!;
}
.react-select__option {
	@apply focus-within:bg-accent-2! hover:bg-accent-10! hover:text-surface focus:bg-accent-2! focus-visible:bg-accent-2!;
}

.tiptap p.is-editor-empty:first-child::before {
	@apply text-gray-6 h-0 text-left;

	content: attr(data-placeholder);
}

.tiptap :where(p):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.p-multiselect {
	@apply rounded-3 ring-gray-6 focus-within:ring-accent-8 w-full px-3 py-2 ring-1 focus-within:ring-1;
}

.p-multiselect-label-container {
	@apply text-gray-10;
}

/* .p-multiselect-label{
  @apply flex gap-1;
} */

.p-multiselect-token {
	@apply bg-indigo-5 text-indigo-11 ml-1 w-fit gap-1 rounded-[.1875rem] px-2;
}

.p-multiselect-token > svg {
	@apply text-tomato-9;
}

.p-multiselect-panel {
	@apply border-gray-4 mt-2 overflow-hidden border bg-[#fff];
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px
		10px 10px -5px;
}

.p-multiselect-header {
	@apply border-gray-6 bg-gray-2 flex items-center justify-between overflow-hidden border-b px-4 py-2;
}

.p-multiselect-header .p-multiselect-select-all .p-checkbox {
	@apply flex w-fit gap-2;
}

.p-multiselect-select-all {
	@apply flex h-fit w-full items-center;
}

.p-multiselect-select-all > .p-checkbox {
	@apply size-fit;
}

.p-multiselect-items-wrapper {
	@apply w-full py-2;
}

.p-multiselect-items {
	@apply ml-2 flex flex-col gap-1;
}

.p-multiselect-item {
	@apply flex w-full gap-2 py-1 pl-2;
	font-size: 1.125rem;
}

.p-multiselect-checkbox > .p-checkbox {
	@apply flex w-full gap-2;
}

.p-multiselect-items > .p-highlight {
	@apply bg-indigo-5;
	border-radius: 3px;
}

/*
  ---break---
*/

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

/*
  ---break---
*/

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}